
@model TaskManagementSystem.Models.Task
@{
    ViewData["Title"] = "สร้างงานใหม่";
}

<h2>สร้างงานใหม่</h2>

<!--asp-action="Create"คือการส่งค่าไปที่actionที่ชื่อว่าCreate-->
<!--ใช้ method="post" เพื่อไม่ให้เห็นค่าที่ส่ง-->
<form asp-action="Create" method="post">
    
    <div class="form-group">
        <label asp-for="Name" class="control-label">ชื่องาน</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="DueDate" class="control-label">วันที่กำหนดเสร็จ</label>
        <input asp-for="DueDate" type="date" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Details" class="control-label">รายละเอียด</label>
        <textarea asp-for="Details" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label>
            <input asp-for="IsCompleted" type="checkbox" /> งานเสร็จแล้ว
        </label>
    </div>
    <button type="submit" class="btn btn-primary">บันทึก</button>
    <a asp-action="Index" class="btn btn-secondary">กลับ</a>
</form>



